<!DOCTYPE HTML>
<html>
<head>
    <title>index page</title>
</head>
<body>
    <a href="/login">login with spring boot security</a>
    <br>
    <a href="/sign">sign up</a>

<script src="/js/lib/jquery.min.js"></script>
</body>
</html>